@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Anonymous Pro', monospace;

  @apply bg-fillSecondary w-full flex flex-col justify-center items-center;
}

@media (max-width: 768px) {
  html,
  body {
    height: -webkit-fill-available;
  }
}


#__next {
  @apply flex h-screen md:h-fit;
}
body {
  /* mobile viewport bug fix */
}

html {
}


h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

